PREFIX="oso"
STATIC_IP=true

# Cold Vault Images
#BACKEND_PLUGIN_IMAGE="192.168.64.9/oso/oso-ripple-plugins@sha256:bb9e8dd3a8a723ea569271fa0e4450943d7241fe8c0eb2bad9e0a45f401e2819"
BACKEND_PLUGIN_IMAGE="192.168.64.2:5002/oso-ripple-plugins@sha256:9fcfdb18b4ee55b93274d8eac52a6347f1ef0117a16e8a74001857f620a91591"
COLD_BRIDGE_IMAGE="192.168.64.2:5002/vault-cold-bridge@sha256:62e69a6029069bd7db426af959bff4c4d12be1f1e0788d0e3811341f3fae38eb"
COLD_VAULT_IMAGE="192.168.64.2:5002/vault-releases@sha256:36ac9e2af4875f298594e4e1e2c46bd62b6ab3b84c4a600944dc50ed63446f23"
KMSCONNECT_IMAGE="192.168.64.2:5002/kms-ibm@sha256:e9491e6d42333955295996906ecd298e3eb6f05b1bd77600fc763f52b03a5ea0"

# Vault Configuration
VAULT_ID="a0f7e1a1-f2bd-4e72-a203-3e5060faac59"
#"334caac9-bc88-4bea-84c2-0d0db519f30f"
NOTARY_MESSAGING_PUBLIC_KEY="MCowBQYDK2VwAyEAUGkt+kcvAT4vh+XSEL5Azv4XjjN4e+RojV2gr+Bu0Uk="
WORKLOAD_VOL_SEED="vaultseed1234567890"

### GREP11 ###
#GREP11_IMAGE="192.168.64.2:5002/grep11-c16-ep11server@sha256:18d2be41aef1a9d255231aa1079f3242f7e37726d991d25be070290bc2cd92f8"
GREP11_IMAGE="192.168.64.2:5002/grep11-c16-ep11server@sha256:2394d999b78deaba8ff245c1dc953da5a6c411741d783e29518ee429c1ab68ca"
DOMAIN_1="07.004c"
DOMAIN_2="08.004b"
#### crypto passthrough
CRYPTO_PASSTHROUGH_ENABLEMENT=true

### EXTERNAL GREP11 Configuration###
INTERNAL_GREP11=true

HPCR_CERT=<<-EOT
-----BEGIN CERTIFICATE-----
MIIHFzCCBP+gAwIBAgIQCgY+FQsyON03cye9eIMBhzANBgkqhkiG9w0BAQ0FADCB
ojELMAkGA1UEBhMCSU4xCzAJBgNVBAgTAktBMRIwEAYDVQQHEwlCYW5nYWxvcmUx
GjAYBgNVBAoTEUlCTSBJbmRpYSBQdnQgTHRkMSQwIgYDVQQLExtJQk0gWiBIeWJy
aWQgQ2xvdWQgUGxhdGZvcm0xMDAuBgNVBAMTJ0h5cGVyUHJvdGVjdCBQcm9kdWN0
aW9uIFNpZ25pbmcgU2VydmljZTAeFw0yNjAyMDkwNTMwNDBaFw0yNzAyMDkwNTMw
NTBaMIGuMQswCQYDVQQGEwJJTjELMAkGA1UECBMCS0ExEjAQBgNVBAcTCUJhbmdh
bG9yZTEaMBgGA1UEChMRSUJNIEluZGlhIFB2dCBMdGQxJDAiBgNVBAsTG0lCTSBa
IEh5YnJpZCBDbG91ZCBQbGF0Zm9ybTE8MDoGA1UEAxMzSHlwZXIgUHJvdGVjdCBD
b250YWluZXIgUnVudGltZSBDb250cmFjdCBFbmNyeXB0aW9uMIICIjANBgkqhkiG
9w0BAQEFAAOCAg8AMIICCgKCAgEAtuIPFCnKNcrBgR3pu9ELO/eCw85Cjcy5ZN8t
Pq0iNFg7aHCBLdZgnId8c+3iDvXyGx5a508t9LuyOOJSIsunhuH089o/22IHD6zl
6sKtaUcSyEU2xEr5qUfojEcz+sBItzFTpfDGB7YRESb/DlSaxQYRCLN92vlpwsQR
YbIjuPr+wbiHfsLvhroIj+oYJaJXfYnDt1mGOxadueyhWMV1EJMFyNr9w5S20TaT
kkyODoYTFyNI8T2qr4nol9IIaO51nm9TsYsj0d3azlD3fMAbc0G5lKzNSlkaYE/4
2OqA2FI/dzv0eDC8ciF5pEVi7dXMFsQfhQGBl0VLlbAv1qzwBjCdBbOxYZMowm5z
Z9hsz/w3L1xRmQq2YYucbErrrPpd96SFX7bTK/eaM1Kqb2uGn+o9H8uW61lWNG7v
+bU2nA90+na4GB5LQfN5Nrl+4pKgOCB4F1ShS0uhPcjClfmj//h4tIIcpWI4SVdT
ztC/G02mXi8pYk6Mv/JZ71TODT7AmKyAwUSkxqFGCP1vWOHG6+UJ5g4iu63AfLzP
an3Se+5WWqFBHA6VvMPEtCwPb/EV4Rku2Q1DTMUCAA9P1/ftwRBLlhpYYSA8WPQE
+C5p6FFs98kTljqqRKL0rHyDggO6ImRjDlNxw0cPSJr+Rpk5CdaW6kajclNQyJwy
/XmQmPMCAwEAAaOCATkwggE1MIGPBgNVHR8EgYcwgYQwQKA+oDyGOmh0dHBzOi8v
aWJtLmJpei9oeXBlci1wcm90ZWN0LWNvbnRhaW5lci1ydW50aW1lLXRlc3QtY3Js
LTEwQKA+oDyGOmh0dHBzOi8vaWJtLmJpei9oeXBlci1wcm90ZWN0LWNvbnRhaW5l
ci1ydW50aW1lLXRlc3QtY3JsLTIwgaAGCCsGAQUFBwEBBIGTMIGQMEYGCCsGAQUF
BzAChjpodHRwczovL2libS5iaXovaHlwZXItcHJvdGVjdC1jb250YWluZXItcnVu
dGltZS10ZXN0LWNydC0xMEYGCCsGAQUFBzAChjpodHRwczovL2libS5iaXovaHlw
ZXItcHJvdGVjdC1jb250YWluZXItcnVudGltZS10ZXN0LWNydC0yMA0GCSqGSIb3
DQEBDQUAA4ICAQCMISWU09rIWoZ+UG15LHGQVkh/nkZ6y7PvYaG4yZG2y1twtEWS
aogSXE0/KcG5b8rCjh7cZsH4gIQF7xskF7ecg60SBNdZ0X1O4e0Zab8TgNMTyXVj
SGMzqkEr0nXNQ16cmRk8QZ4AteAWpUKMNzEApLDqJTtHqaCsmYTryHasVsvwcyyx
iN04sLgJmEdNWB4koS+Xj8v068+yM8HsNjt2alLfL/zY1kXy3CQOoQRC8mI6AvhW
WwRrTgSMZP3AAn2wnbZ4maRHcWu97ZJv/nwA+dk9CWiF+mp0nCTJUHLmg5HALC7P
on8X/KmlDKGZf1Rnpmni1X0UGT2JCn+VsO2EUuCnDHJLcFAMgIVICXyWDOlg4Gpe
hoZGk5DpcbWPNiwqq60Gv6pBZxxQpuMHm2Fa4b7+f9BhMiB2Ie68Lh0ZIsiAohOA
V7fvwE0XOIucP3KeFqmD/PmKoaBqJ3QjXnVlf42HE2Nn/LmQolFP6so+Wt7Nyf+i
fDxhlrPxBU5QYeKxSDQDlFr+lsiCeNs0urG6EUBaEGGZV+zEBvQJBO5z5wu+NrpD
geb/kqxprzt5ALMGUI9huRmNIjH+OjRhYGc9B0OGcUPfaNhg/9W96hVP21x+jJlp
fANgu0R9eC2yqTW8LPCT0XjJV4lkIuB/xLnHGhWWPx+lWnGwKForDkOgTw==
-----END CERTIFICATE-----
EOT

